image: python:3.12
stages:
  - format
  - build
  - python
  - test

### =============================================================
### ==============     JOB TEMPLATES    =========================
### =============================================================

.deep_thought_job:
  retry: 0
  tags:
    - deep-thought

.python_parallel_matrix_job:
  extends: .deep_thought_job
  image: "registry.ethz.ch/ics/l4acados:$PYTHON_VERSION"
  parallel:
    matrix:
      - PYTHON_VERSION: ["3.8", "3.10", "3.12"]
  before_script:
    - python --version ; pip --version  # For debugging
    - source "$VENV_DIR/bin/activate" || exit 1
    # l4acados
    - cd $CI_PROJECT_DIR
    - pip install -e .[test] --no-build-isolation || exit 1
    - pip install -e .[gpytorch-exo] || exit 1
  variables:
    PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
    VENV_DIR: "/venv"
  resource_group: deep-thought-l4acados-$PYTHON_VERSION

.pytest_job:
  extends: .python_parallel_matrix_job
  stage: test
  script:
    - pytest --ignore external/
  variables:
    ACADOS_SOURCE_DIR: "/opt/acados"
    LD_LIBRARY_PATH: "/opt/acados/lib"
  cache:
    - key: pip-cache-$PYTHON_VERSION
      paths:
        - .cache/pip
      policy: pull


### =============================================================
### ==============     FORMATTING STAGE    ======================
### =============================================================

run formatters: # Check whether code adheres to the required formats
  extends: .deep_thought_job
  stage: format
  script:
    - pip install pre-commit && pre-commit install
    - pre-commit run -a

install python dependencies:
  extends: .python_parallel_matrix_job
  stage: python
  script:
    - python -c "import numpy, gpytorch, acados_template, l4casadi" || exit 1
  cache:
    - key: pip-cache-$PYTHON_VERSION
      paths:
        - .cache/pip

### =============================================================
### ==============     TESTING STAGE    =========================
### =============================================================

run tests:
  extends: .pytest_job
  script:
    - pytest --ignore external/
  resource_group: l4acados_tests
